@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

/* Banner Shape */
.clip-path-banner {
  clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width: 1024px) {
  .clip-path-banner {
    clip-path: none;
  }
}